<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="status">
          <ion-segment-button value="pending" class="segment">
            <ion-label>Progressing</ion-label>
          </ion-segment-button>
          <ion-segment-button value="completed" class="segment">
            <ion-label>Completed</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>


    <!-- ============  My Html  =========== -->

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list class="services-request" *ngFor="let item of requestList; let i = index">
          <ion-item (click)="selectService(item)">
            <ion-thumbnail slot="start">
              <ion-img [src]="item.customer_profile_picture"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{item.from_user_name}} <span>${{item.service_price}}</span>
              </h2>
              <p>{{item.request}}</p>
            </ion-label>

            <ion-button (click)="sendMessage($event,item)">Message</ion-button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>