<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()">
      <span></span>
    </ion-button>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="about-set-all">
    <ion-label>Terms of Knockout Answers</ion-label>


    <div class=about-set>
      <h6>985 inspirational designs</h6>
      <span>You have recieved notification from admin to get more items.</span>
      <p>985 inspirational designs, illustrations, and graphic elements from the world’s best designers. 985
        inspirational designs, illustrations, and graphic elements from the world’s best designers. 985 inspirational
        designs, illustrations, and graphic elements from the world’s best designers.</p>
    </div>

    <div class=about-set>
      <h6>Best inspirational designs</h6>
      <span>You have recieved notification from admin to get more items.</span>
      <p>985 inspirational designs, illustrations, and graphic elements from the world’s best designers. 985
        inspirational designs, illustrations, and graphic elements from the world’s best designers. 985 inspirational
        designs, illustrations, and graphic elements from the world’s best designers.</p>
    </div>

    <div class=about-set>
      <h6>Inspirational designs</h6>
      <span>You have recieved notification from admin to get more items.</span>
      <p>985 inspirational designs, illustrations, and graphic elements from the world’s best designers. 985
        inspirational designs, illustrations, and graphic elements from the world’s best designers. 985 inspirational
        designs, illustrations, and graphic elements from the world’s best designers.</p>
    </div>
  </div>
</ion-content>