<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()">
      <span></span>
    </ion-button>
    <ion-title>Review Services Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="service_request">
    <div class="sevices-top">
      <ion-thumbnail slot="start">
        <img src="assets/imgs/12.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{service_request.service_name}}</h2>
      </ion-label>
    </div>


    <div class="sevices-bottom">

      <div class="border-design">
        <ion-avatar slot="start">
          <img [src]="service_request.logo">
        </ion-avatar>
        <ion-label>
          <h2>{{service_request.name}}</h2>
          <!-- <p>Organization</p> -->
        </ion-label>
        <div class="price">
          <span slot="end">${{service_request.service_price}}</span>
        </div>
      </div>
    </div>

    <div class="payment-method">
      <h3>Payment method</h3>
      <span>Card *{{card_lastnumber}}</span>
    </div>

    <div class="action">
      <ion-button (click)="goBack()" class="button-h" mode="ios" type="submit" fill="solid" size="default" shape="round"
        expand="block">
        Edit Request
      </ion-button>
      <ion-button (click)=" this.requestConfirmAlert()" class="button-h cancel" mode="ios" fill="solid" size="default"
        shape="round" expand="block">
        Submit Request
      </ion-button>
    </div>
  </ion-grid>
</ion-content>