
<ion-header>
  <ion-toolbar>
    <ion-title>Profile Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ion-list class="ion-no-padding">
    <ion-item class="ion-no-padding header-img-div">
      <div *ngIf="images.length > 0" class="cover-img-div">
        <div class="cover-img-mask">        
          <ion-avatar class="profile-avatar-div" (click)="selectImage()">
            <ion-img *ngIf="images.length > 0 && !isLoading" [src]="images[0].path"></ion-img>
            <ion-img *ngIf="images.length == 0 && !isLoading" src="../../assets/imgs/profile.jpg"></ion-img>
          </ion-avatar>
          <div class="user-details">
            <h2>{{fullName}}</h2>   
            <!-- <h3>${{balance ? balance : '0.00'}}</h3>     -->
            <div class="rating-div" *ngIf="!isLoading && pro_userProfile != undefined">
              <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#f7c00b"
                defaultColor="white" readonly="true" halfStar="true" fontSize="24px" rating={{pro_userProfile.overall_rating}}>
              </ionic5-star-rating>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <form class="form" [formGroup]="validationsform" (ngSubmit)="tryUpdateProfile(validationsform.value)">
    <ion-card class="profile-card">     
      <ion-card-content style="width: 100%;">
        <ion-grid class="ion-no-padding">
          <!-- <ion-row class="ion-justify-content-center ion-align-items-center ion-no-padding">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="logo-usd" size="small" slot="start"></ion-icon>
                <ion-input class="ion-text-left" placeholder="Service price" formControlName="service_price">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row> -->
          <ion-row class="ion-justify-content-center ion-align-items-center avatar-row">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="mail-outline" size="small" slot="start"></ion-icon>
                <ion-input class="ion-text-left" placeholder="Contact email address" formControlName="contact_email">
                </ion-input>
              </ion-item>
              <ion-item mode="md">
                <ion-icon name="call-outline" size="small" slot="start"></ion-icon>
                <ion-input class="ion-text-left" placeholder="Contact phone number" formControlName="phone"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button class="updateprofile-button" mode="ios" type="submit" fill="solid"
          [disabled]="!validationsform.valid" size="default" shape="round" expand="block">
          Update Profile
        </ion-button>
        <div class="action">
          <ion-button class="other-button" mode="ios" fill="solid" shape="round" expand="full" [routerLink]="['/rating-list']">
            <span class="span-left">Ratings</span>           
          </ion-button>
          <ion-button class="other-button" mode="ios" shape="round" fill="solid" expand="full"
            [routerLink]="['/pro-tablinks/pro-services']">
            <span class="span-left">Service Request</span>            
          </ion-button>
          <ion-button class="other-button" mode="ios" shape="round" fill="solid" expand="full"
            [routerLink]="['/pro-tablinks/video-archieve']">
            <span class="span-left">Video Archives</span>           
          </ion-button>
          <ion-button class="other-button" mode="ios" shape="round" fill="solid" expand="full" [routerLink]="['/pay-wall']">
            <span class="span-left">Pay Wall</span>           
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form> 

</ion-content>